exportClasses(rpf.1dim)
exportClasses(rpf.base)
exportClasses(rpf.drm)
exportClasses(rpf.gpcm)
exportClasses(rpf.mdim)
exportMethods(rpf.getLocation)
exportMethods(rpf.logLik)
exportMethods(rpf.paramDim)
exportMethods(rpf.prob)
exportMethods(rpf.rparam)
exportMethods(rpf.setLocation)
exportMethods(rpf.startingParam)
export(rpf.drm)
export(rpf.gpcm)
export(rpf.ogive)
export(rpf.sample)
