exportClassPattern("^rpf.+")
exportMethods(rpf.logprob)
exportMethods(rpf.prob)
exportMethods(rpf.rparam)
exportPattern("^rpf.+")
export(read.flexmirt)
export(write.flexmirt)
useDynLib(rpf, .registration = TRUE)
